.profile {
  display: flex;
  flex-direction: column;
  max-width: 784px;
  width: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #ffffff;
  border-radius: 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
}
